.allocationBarContainer {
	border: 1px solid transparent;
	position: absolute;
}

.allocationBarWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	background-color: #ffc600;
	width: 98px;
	color: white;
	opacity: 1;
}

.emptyAllocationBarWrapper {
	background-color: orange;
	padding: 10px 0;
}

.hideAllocationBarWrapper {
	opacity: 0;
}