.allocationBarContainer {
	border: 1px solid transparent;
	position: absolute;
	top: 0;
}

.allocationBarWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	background-color: #ffc600;
	width: 98px;
	color: white;
}

.emptyAllocationBarWrapper {
	background-color: orange;
	padding: 10px 0;
}

.left-button, .right-button {
	background-color: transparent;
	color: black;
	height: inherit;
	width: 10px;
	font-size: 10px;
	border: none;
	cursor: pointer;
}