.allocationRowWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    position: relative;
}

.dottedBackground {
	position: absolute;
    width: 1200px;
    top: 19px;
    left: 0;
    border: dashed 1px #757575;
    z-index: -1;
}

.alloctionUserName {
    position: absolute;
    left: -100px;
}